<div class="container site-description">
  <p>Detemine how hard you can go at a workout <br/>based on the color of your Garmin Watch!</p>
  <p>Receive detailed stats of how your workouts <br/>are based on weekly progress!</p>
  <p>Set Personal goals, and receive feedback <br/>on how hard to push yourself!</p>
  <p>Earn achievements to show off to your friends!</p>
</div>
